section {
	height: 100vh;
}

.img {
	width: 200px;
	height: 200px;
}

.last-section {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
}

section.last {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 976px) {
	section.last {
		min-height: 100vh;
	}

	p.lead {
		font-size: 12px;
	}

	.img {
		width: 50px;
		height: 50px;
	}

	.last-section {
		height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
	}
}